body {
  font-family: Arial, sans-serif;
  background-color: #7d13829b;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 400px;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 6px;
}

button {
  padding: 10px 16px;
  background-color: #1090f2;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #09017a;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

li span {
  cursor: pointer;
  color: red;
}
